.page {
  min-height: 100vh;
  background-color: #0c0b0c;
  background-size: 60px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Space Grotesk', Arial, sans-serif;
  gap: 20px;
}

    
html, body {
  margin: 0;
  padding: 0;
  min-height: 100%; 
}



.main-header h1 {
    margin: 0 auto; 
    width: 100%;
    animation: colorChange 18s ease-in-out infinite; 
    z-index: 1000;
    font-family: 'Space Grotesk', Arial, sans-serif;
    font-size: 5em;
    font-weight: bold;
    position: relative;
    top: -30px;
}


.button1{
    background-image: linear-gradient(to right, #036cdd, #6610f2);
    color: white;
    border:none;
    padding: 60px 80px;
    border-radius:12px;
    font-family: 'Trebuchet MS';
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    top: 100px;
    right: 100px;
    box-shadow: 
        0px 8px 0px #746b6b,
        0px 3px 8px rgb(255, 255, 255);
    transition: all 0.2s ease;
    margin-top: 105px;

}
.button2{
    background-image: linear-gradient(to right, #062381, #10f2d4);
    color: white;
    border:none;
    padding: 60px 92px;
    border-radius:12px;
    font-family: 'Trebuchet MS';
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    top: 100px;
    right: 100px;
    margin-right: 700px;
    margin-top: -37px;
    box-shadow: 
        0px 8px 0px #746b6b,
        0px 3px 8px rgb(255, 255, 255);
    transition: all 0.2s ease;
}
.button3{
    background-image: linear-gradient(to right, #000000, #6438ac);
    color: white;
    border:none;
    padding: 60px 83px;
    border-radius:12px;
    font-family: 'Trebuchet MS';
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    top: 100px;
    right: 100px;
    margin-right: -720px;
    margin-top: -181px;
    box-shadow: 
        0px 8px 0px #746b6b,
        0px 3px 8px rgb(255, 255, 255);
    transition: all 0.2s ease;
}
.button4{
   background-image: linear-gradient(to right, #036cdd, #6610f2);
    color: white;
    border:none;
    padding: 60px 80px;
    border-radius:12px;
    font-family: 'Trebuchet MS';
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    top: 100px;
    right: 100px;
    box-shadow: 
        0px 8px 0px #746b6b,
        0px 3px 8px rgb(255, 255, 255);
    transition: all 0.2s ease;
    margin-top: 105px;
}
.button5{
       background-image: linear-gradient(to right, #062381, #10f2d4);
    color: white;
    border:none;
    padding: 60px 92px;
    border-radius:12px;
    font-family: 'Trebuchet MS';
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    top: 100px;
    right: 100px;
    margin-right: 700px;
    margin-top: -37px;
    box-shadow: 
        0px 8px 0px #746b6b,
        0px 3px 8px rgb(255, 255, 255);
    transition: all 0.2s ease;
}
.button6{
       background-image: linear-gradient(to right, #000000, #6438ac);
    color: white;
    border:none;
    padding: 60px 83px;
    border-radius:12px;
    font-family: 'Trebuchet MS';
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    top: 100px;
    right: 100px;
    margin-right: -720px;
    margin-top: -181px;
    box-shadow: 
        0px 8px 0px #746b6b,
        0px 3px 8px rgb(255, 255, 255);
    transition: all 0.2s ease; 
}
body {
    margin-top: auto;
}

@keyframes colorChange {
    0% {
        color: rgb(255, 0, 0);
        
    }
    50% {
        color: rgb(0, 255, 0);
    }
    100% {
        color: rgb(0, 0, 255);
    }
}
